<!-- views/library.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Biblioteca</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
	<script type="text/javascript" src="/Public/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/Public/search.js"></script>
     <style>
        body        { padding-top:80px; }
    </style>
</head>
<header>
	<a href="http://<%= interf %>" class="btn btn-default"><i class="fa fa-cogs" aria-hidden="true"></i> GearHUB</a>
</header>
<body>
	<br>
	<br>
	<div class="row">
		
	    <div class="col-md-3"></div>
	    <div class="col-md-6"><center><h1>Biblioteca ECO</h1></center></div>
	    <div class="col-md-3"></div>
	</div>	

		<% if(user){ %>
		   <% if(user == "noUser"){ %>
			   	<center><a href="/signup" class="btn btn-default btn-sm">Signup</a></center>
			   <% } else{ %>
			   	<center><a href="/logout" class="btn btn-default btn-sm">Sair</a></center>
			   <% } %>
		 <% } else{ %>  
		   <center><a href="/login" class="btn btn-default"><span class= "fa fa-user"></span> Login</a></center>
		<% } %>

	    <br>	
	    <br>
    <div class="form-group" id="carrega">
    <p>Carregando a tabela aguarde</p>
      <input type="hidden" class="form-control input-lg" id="search" placeholder="Digite aqui a sua busca">
    </div>
		<% if(user){ %>
	   <a href="/upload" class="btn btn-default"><span class= "fa fa-cloud-upload"></span>Inserir Arquivo</a> 
	   <a href="/signup" class="btn btn-default"><span class= "fa fa-user-plus"></span>Cadastrar novo Professor</a>
	 <% } %>
    <div id='results'>
    	
    		<div id='userGranted'><% if(user){ %><%}%></div>

    </div>


</body>


</html>