<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Arquivo inserido</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
        .butoes     { margin-top:50px;}
        #direita    { margin-left:40px;}
    </style>
</head>
<body>
    <div class="col-sm-2">
        </div>
    <div class="col-sm-8">
            <div class="well">
                <center><h3><span class="fa fa-check"></span> Arquivo inserido!</h3></center>
                <center>
                <p> Deseja adcionar outro arquivo? </p>
                <a href="/upload"> <button name="bYes" class="btn btn-warning btn-lg butoes">Sim</button></a>
                <a href="/"><button href="/"name="bNo" id="direita" type="submit" class="btn btn-warning btn-lg butoes">Não</button></a>
                </center>
            </div>
        </div>
</body>
</html>
