<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>gearHUB</title>
     <style>
        body        { padding-top:100px; }
        #aux 		{ padding-bottom :100px;}
    </style>
</head>
<body>

<center><div id="aux"><h1><b><i class="fa fa-cog" aria-hidden="true"></i> G E A R H U B</b></h1>Desenvolvido pelos alunos de Computaçao da UNIFEI-Campus Itabira.<br><a href="http://github.com/molBR/gearHUB"><h1><i class="fa fa-github" aria-hidden="true"></h1></i></a></div></center>
<div class="col-md-3"></div>
	<div class="well col-md-3">

	<a href="/bib" class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i>
 bibliotECO</a>
 </div>
	</center>
	<div class="well col-md-3">

	<a href="/pyTutor" class="btn btn-default"><i class="fa fa-code" aria-hidden="true"></i>
 tutorECO</a>
	</center>


</body>
</html>